body {
	font-family:Arial, Helvetica, sans-serif;
	font-size:15px;
	line-height:1.5;
	padding:0;
	margin:0;
	background-color:#F4F4F4;
}

ul {
	padding:0;
	margin:0;
}

.button1{
	height:38px;
	background:#e8491d;
	border:0;
	padding-left:20px;
	padding-right:20px;
	color:#FFFFFF;
}

.dark{
	padding:15px;
	background:#35424a;
	margin-top:10px;
	margin-bottom:10px;
	color:#FFFFFF;
}

/*the % makes the page responsive to sizing as px arnt flexible
auto aligns the content to the center
*/
.container{
	width:80%;
	margin:auto;
	overflow:hidden;
}
/*header background is backgroud color, color refers to font color, the min height helps us adjust the page when being responsive to diff widths  boarder

3 is pix solid is the style */
header{
	background:#35424a;
	color:#FFFFFF;
	padding-top:30px;
	min-height:70px;
	border-bottom-color:#e8491d;
	border-bottom-style:solid;
	border-bottom-width:3px;
}

header a {
	color:#FFFFFF;
	text-transform:uppercase;
	font-size:16px;
	text-decoration:none;
}

/* padding is top-right-bottom-left */
header li{
	float:left;
	display:inline;
	padding:0 20px 0 20px;
}
/*the # is used for id's and . for classes*/
header #branding {
	float:left;
}
header #branding h1{
	margin:0;
}
header nav{
	float:right;
	margin-top:10px;
}
header .highlight, header .current a{
	color:#e8491d;
	font-weight:bold;
}

header a:hover{
	color:#CCCCCC;
	font-weight:bold;
}

/* show case */
#showcase{
	min-height:400px;
	background:url(../images/showcase.jpg) no-repeat 0 -400px;
	text-align:center;
	color:#FFFFFF;
}
#showcase h1{
	margin-top:100px;
	margin-bottom:10px;
	font-size:55px;
}
#showcase p{
	font-size:20px;
}
/*newsletter*/
#newsletter{
	padding:15px;
	color:#FFFFFF;
	background:#35424a;
}
#newsletter h1{
	float:left;
}
#newsletter form{
	float:right;
	margin-top:15px;
}
#newsletter input[type="email"]{
	padding:4px;
	height:25px;
	width:250px;
}
/*boxes*/
#boxes{
	margin-top:20px;
}

#boxes .box{
	float:left;
	text-align:center;
	width:30%;
	padding:10px;
}

#boxes .box img{
	width:90px;
}

/*side bar*/
aside#sidebar{
	float:right;
	width:30%;
	margin-top:10px;
}

aside#sidebar .quote input, aside#sidebar .quote textarea{
	width:90%;
	padding:5px;
}

/*main col */
article#main-col{
	float:left;
	width:65%;
}

/*services*/
ul#services li{
	list-style:none;
	padding:20px;
	border:#CCCCCC;
	border:solid;
	border-width:1px;
	background:#e6e6e6;
	margin-bottom:5px;
}

footer{
	padding:20px;
	margin-top:20px;
	color:#FFFFFF;
	text-align:center;
	background-color:#e8491d;
}

/*media queries to help show well on mobile devices ex add display:none; to body */

@media(max-width: 768px){
	header #branding,
	header nav,
	header nav li,
	#newsletter h1,
	#newsletter form,
	#boxes .box,
	article#main-col,
	aside#sidebar
	{
	float:none;
	text-align:center;
	width:100%;
		
	}
	header{
		padding-bottom:20px;
	}
	#showcase h1{
		margin-top:40px;	
	}
	#newsletter button, .quote button{ 
		display:block; 
		width:100%
	}
	#newsletter form input[type="email"], .quote input, .quote textarea{ 
		width:100%;
		margin-bottom:5px;
	}
}